body{
    background-color: #6699ff; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    text-align: left;
    padding: 3px;
    background-color: #89acff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
    box-shadow: 0px 0px 60px;
}
a {
    text-decoration: none;
}

h1 {
    max-width: 70%;
    margin-left: 29px;
    color: #3b13cc;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Yatra One', cursive;
}

section{
    max-width: 40vw;
    border-radius: 15px;
    margin: 30px auto; 
    box-shadow: 0px 0px 200px #a3b4e0;
    backdrop-filter: blur(60px);
    margin: 120px auto 20px;
    
}

@media only screen and (max-width:1024px){
    section {
        max-width: 80vw;
        margin-top: 10%;
        margin-bottom: 10%;
        height: fit-content;
        padding-bottom: 30px;
    }
    .acts {
        margin-left: 12%;
    }
    }
    
    @media only screen and (max-width:786px){
    section {
        max-width: 80vw;
        margin-top: 20%;
        margin-bottom: 20%;
        height: fit-content;
        padding-bottom: 30px;
    }
    .acts {
        margin-left: 8% !important;
    }

    #submit {
        margin: 0 auto !important;
        margin-top: 6% !important;
    }

    #btn-add {
        margin: 0 auto !important;
        margin-top: 10% !important;
    }
}


p {
    color: #0c0b0b;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-family: 'Young Serif', serif;
}


h2 {
    max-width: 70%;
    margin: 0 auto;
    color: #000000;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Young Serif', serif;
}



h3 {
    max-width: 70%;
    margin: 0 auto;
    color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Young Serif', serif;
    margin-bottom: -10px;
    position: relative;
    top: -22px;
}
#btn-add{
    margin: 28px;
    /* margin-top: 10%; */
    font-family: 'Raleway', sans-serif;
    /* display: inline-block; */
    padding: 1.3em 3em;
    border: none;
    /* text-decoration: none; */
    border-radius: 45px;
    background-color: #23607e;
    /* border: 1px solid rgba(255,255,255,0.1); */
    /* backdrop-filter: blur(30px); */
    color: #fff;
    font-size: 12px;
    letter-spacing: 2.5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    outline: none;
}

#btn-add:hover{
    /*margin: 0 auto;*/
    /*margin-top: 10%;*/
    /*width: 150px;*/
    /*font-family: 'Raleway', sans-serif;*/
    /*text-decoration: none;*/
    /*border-radius: 15px;*/
    background-color: #0af6fa;
    /*border: 1px solid rgb(23 137 181 / 79%);*/
    /*backdrop-filter: blur(30px);*/
    color: #000;
    /*font-size: 20px;*/
    /*letter-spacing: 2px;*/
    /*cursor: pointer;*/
    /*text-transform: uppercase;*/
    box-shadow:0px 15px 20px rgba(13, 240, 252, 0.4);
    transform: translateY(-7px);
}


#submit{
    margin: 28px;
    /* margin-top: 10%; */
    font-family: 'Raleway', sans-serif;
    /* display: inline-block; */
    padding: 1.3em 3em;
    border: none;
    /* text-decoration: none; */
    border-radius: 45px;
    background-color: #23607e;
    /* border: 1px solid rgba(255,255,255,0.1); */
    /* backdrop-filter: blur(30px); */
    color: #fff;
    font-size: 12px;
    letter-spacing: 2.5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    outline: none;
}
#submit:hover{
    /*margin: 0 auto;*/
    /*margin-top: 10%;*/
    /*width: 150px;*/
    /*font-family: 'Raleway', sans-serif;*/
    /*text-decoration: none;*/
    /*border-radius: 15px;*/
    background-color: #0af6fa;
    /*border: 1px solid rgb(23 137 181 / 79%);*/
    /*backdrop-filter: blur(30px);*/
    color: #000;
    /*font-size: 20px;*/
    /*letter-spacing: 2px;*/
    /*cursor: pointer;*/
    /*text-transform: uppercase;*/
    box-shadow:0px 15px 20px rgba(13, 240, 252, 0.4);
    transform: translateY(-7px);
}

.d-none{
    display:none;
}

#select {
    font-family: 'Young Serif', serif;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    border-radius: 15px;
    background-color: #23607e;
    border: 1px solid rgba(8, 20, 157, 0.1);
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 4%;
    transition: all 0.3s ease; 
}

#select:hover {
    background-color: #0af6fa; 
    color: #000; 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
    transform: translateY(-2px); 
}


#selectdays {
    border-radius: 30px;
    cursor: pointer;
    max-width: 65%;
    margin-top: 3%;
    text-align: center;
    display: inline-block;
    padding: 8px 10px 8px 16px;
    border: 0;
    text-decoration: none;
    background-color: rgb(0 0 0 / 10%);
    border: 1px solid rgb(0 0 0 / 10%);
    backdrop-filter: blur(30px);
    color: rgb(0 0 0 / 81%);
    font-size: 17px;
    cursor: pointer;
    text-transform: uppercase;
}

#select p{
    margin-top: 5%;
}

select:focus {
    outline: none;
}

#btn2{
    display: block;
    width: 200px;
    border-radius: 30px;
    background: #7b91a5;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    border: 1px solid white;
    padding: 5px 10px 5px 10px;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

#btn2:hover{
    background: #c4b6b6;
}

.first{
text-align: center;
margin: 0 auto;
padding-top: 10%;
padding-bottom: 20%;
margin-bottom: 10%;
display: block;
height: 60vh;
}

.break1 {
    max-height: 180px;
}

.break2{
    max-height: 150px;
}

.break3 {
    height: 100px;
}

.person1{
    height: 150px;
    margin-top:2%;
}

#title {
    width: 58%;
    height: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 7px #0d2f4f;
    margin-top: 10px;
    font-family: 'Kalam', cursive;
    line-height: 22px;
    font-size: 16px;
    color: #1f24e1;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
}

#title:focus {
    outline: none;
}

#days{
    margin-top: 5%;
}


#error {
    color: red;
    font-size: 14px;
}

#act:focus {
    outline: none;
    background: #ede5e3;
}

.second {
    display: none;
    text-align: center;
    margin: 0 auto;
    padding-top: 10%;
    
}

.third{
    display: none;
    text-align: center;
    margin: 0 auto;
    padding-top: 5%;
}

#error{
    display: none;
}

#showdiv{
    display: none;
    position:absolute;
    width:20em;
    height:20em;
    background: #fafafa;
    border-radius: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.material-symbols-outlined{
    display: block;
    text-align: right;
    margin: 17px 21px 0px 0px;
    cursor: pointer;
}

.material-symbols-outlined:hover{
    display: block;
    text-align: right;
    margin: 17px 21px 0px 0px;
    cursor: pointer;
    color:#7b91a5;
}

.acts {
    color: #666666;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    margin-left: 22%;
}


.actsafter {
    color: #666666;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
}

.tached {
    text-decoration: line-through;
    opacity: .5;
    text-align: left;
}

input[type=checkbox]
{
accent-color: #bcb7bb;
}

#loom-companion-mv3{
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}



.menu {
    width: 25%;
    background: black;
    position: absolute;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    }
    
    #menuoff {
        display: none;
    }
    
    .container {
        background-color: #23607e;
        border: 1px solid rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(30px);
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        max-height: 400px;
        overflow-x: hidden;
    
    }
    
    .img {
        display: inline-block;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        width: calc(33.33% - 20px); 
        margin-bottom: 20px; 
    }
    

    .img img {
        max-width: 100px; 
        max-height: 100px; 
        width: auto; 
        height: auto;
    }


    .card img {
        height: 50px;
        margin-left: -280px; 
        position: relative;
        top: 30px; 
    }

    .cardact{
        background-color: red;
    }

    .card {
        background-color: green;
        box-sizing: border-box;
        width: 400px;
        border-radius: 20px;
        box-shadow: 0px 0px 6px #bcb7bb;
        margin: 5px;
        list-style: none;
        font-family: 'Raleway', sans-serif;
    }

    .card p{
        color: white !important;
        font-size: 14px;
    }
    
    #act_show{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .green{
background: radial-gradient(circle, rgb(41, 88, 1) 0%, rgba(58,105,26,1) 100%);
    }

    .yellow{
background: radial-gradient(circle, rgb(217, 228, 60) 0%, rgb(231, 255, 11) 100%);
    }
.orange{
background: radial-gradient(circle, rgb(235, 156, 39) 0%, rgb(233, 125, 23) 100%);
}
    .red {
background: radial-gradient(circle, rgb(175, 13, 13) 0%, rgba(130,19,41,1) 100%);

    }

    .act-check{
        max-height: 200px;
        padding-top: 30px;
        display: block;
        margin: 0 auto;
    }

.divsection {
    background: rgb(16,28,46, 0.8);
}

.listado {
    padding-inline-start: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#select-img {
    margin-top: 3%;
    width: auto;
    max-width: 20%;
}

#btn-add2{
    margin: 28px;
    /* margin-top: 10%; */
    font-family: 'Raleway', sans-serif;
    /* display: inline-block; */
    padding: 1.3em 3em;
    border: none;
    /* text-decoration: none; */
    border-radius: 45px;
    background-color: #23607e;
    /* border: 1px solid rgba(255,255,255,0.1); */
    /* backdrop-filter: blur(30px); */
    color: #fff;
    font-size: 12px;
    letter-spacing: 2.5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    outline: none;
}

#btn-add2:hover{
    /*margin: 0 auto;*/
    /*margin-top: 10%;*/
    /*width: 150px;*/
    /*font-family: 'Raleway', sans-serif;*/
    /*text-decoration: none;*/
    /*border-radius: 15px;*/
    background-color: #0af6fa;
    /*border: 1px solid rgb(23 137 181 / 79%);*/
    /*backdrop-filter: blur(30px);*/
    color: #000;
    /*font-size: 20px;*/
    /*letter-spacing: 2px;*/
    /*cursor: pointer;*/
    /*text-transform: uppercase;*/
    box-shadow:0px 15px 20px rgba(13, 240, 252, 0.4);
    transform: translateY(-7px);
}



.material-symbols-outlined {
    display: block;
    text-align: right;
    margin: -4px 16px -16px 0px;
    cursor: pointer;
    color: black; 
    position: relative;
    top: 13px;
    }


.material-symbols-outlined:hover{
    display: block;
    text-align: right;
    margin: -4px 16px -16px 0px;
    cursor: pointer;
    color:#7b91a5;
}
footer {
    margin-top: 50px;
    font-size: small;
    background: transparent;
    text-align: center;
}
footer {
    background: transparent;
}

.microformatos {
    display:none;
}

footer p{
    font-size: 16px;
    max-width: 95%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 1%;
    padding-bottom: 1%;
    color:#666666;
}

footer a{
    text-decoration: none;
    color:#666666;
}

.hide a{
    text-decoration:none;
    color: #e4cd65;
    margin: unset;
}